body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

nav li:nth-child(3) {
    font-weight: 600;
}

main, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    margin-top: 0.5rem;
    width: 25vw;
    position: relative;
}

form label {
    margin: 2rem 0 0.5rem 0;
    align-self: flex-start;
    font-weight: 500;
}

form input {
    height: calc(51rem / 16);
    width: 100%;
    border: none;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    padding: 1rem;
}

form input[type="submit"] {
    box-sizing: border-box;
    height: 2.2rem;
    padding: 0;
}

form p {
    font-size: 0.6rem;
    text-align: center;
    color: #B1663C;
}

form a {
    color: #3d3d3d;
    font-weight: 500;
}